<div class="footerBody" [ngClass]="{ extendedFooter: footerUp }">
  <button class="yesNoFooterButton" (click)="this.timeToToggle()">
    ^
  </button>
  <div class="allButButton">
    <div *ngIf="footerUp" class="playerContainer">
      <div>
        <button (click)="playAudio()" class="audioButton">play</button>
        <button (click)="pauseAudio()" class="audioButton">pause</button>
        <button (click)="turnUpAudio()" class="audioButton">
          Vol +
        </button>
        <button (click)="turnDownAudio()" class="audioButton">
          Vol -
        </button>
      </div>
    </div>
    <div>
      <div class="footerStatement" *ngIf="!footerUp">
        site made w/ love (and Angular 7)
      </div>
    </div>
  </div>
</div>
