<div id="totalNavbar" [@routerIn]="currentlyOnHome ? 'out' : 'in'">
  <div class="headerContainer">
    <div class="mobileMenuContainer headerItem" (click)="mobileNavClick()">
      <span
        class="leftX ex"
        [@topMenuBar]="mobileNavOpen ? 'active' : 'inactive'"
        >|</span
      >
      <span
        class="middleX ex"
        [@middleMenuBar]="mobileNavOpen ? 'active' : 'inactive'"
        >|</span
      >
      <span
        class="rightX ex"
        [@bottomMenuBar]="mobileNavOpen ? 'active' : 'inactive'"
        >|</span
      >
    </div>
    <div class="siteHeader headerItem" routerLink="/home">
      CASEY BERMAN
      <!-- name -->
    </div>
  </div>
  <div class="routerLinksContainer">
    <div
      class="routerLink"
      routerLink="music"
      [ngClass]="{ currentRoute: router.url === '/music' }"
    >
      music
    </div>
    <div
      class="routerLink"
      routerLink="gigs"
      [ngClass]="{ currentRoute: router.url === '/gigs' }"
    >
      gigs
    </div>
    <div
      class="routerLink"
      routerLink="contact"
      [ngClass]="{ currentRoute: router.url === '/contact' }"
    >
      contact
    </div>
  </div>
</div>
