.routerLink {
  width: 33.3%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 24px;
}
#totalNavbar {
  width: 100%;
  height: 15vh;
  background-color: #0e203b;
  color: #f0ead6;
  border-bottom: 5px solid #f0ead6;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
}

.siteHeader {
  margin: 0 auto;
  text-align: center;
}
.headerItem {
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f0ead6;
}

#totalNavBar div {
  padding-top: 10px;
}

.currentRoute {
  text-decoration: underline;
  color: #b5b5b5;
}

.mobileMenuContainer {
  display: none;
}

@media (min-height: 745px) {
  .routerLink {
    padding-top: 10px;
  }
}

@media (max-width: 700px) {
  .routerLinksContainer {
    display: none;
  }

  .siteHeader {
    font-size: 42px;
    padding-top: 10px;
  }

  /* mobile header adjustments here! */

  .mobileMenuContainer {
    position: absolute;
    display: block;
    left: 30px;
    margin-top: 22px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid;
    width: 35px;
    height: 35px;
  }

  .ex {
    position: absolute;
    transform: rotateZ(90deg);
    left: 14px;
  }
  .leftX {
    top: -5px;
  }
  .rightX {
    top: 5px;
  }
}

@media (max-width: 470px) {
  .siteHeader {
    font-size: 36px;
  }
  .mobileMenuContainer {
    left: 15px;
    margin-top: 17px;
  }
}

@media (max-width: 380px) {
  .siteHeader {
    font-size: 32px;
  }
  .mobileMenuContainer {
    margin-top: 15px;
  }
}
