.routerLink {
  width: 33.3%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
#totalNavbar {
  width: 100%;
  height: 15vh;
  background-color: #292929;
  color: white;
  /* background-color: rgba(109, 109, 109, 0.459); */
  /* background-color: rgb(255, 236, 183); */
}

.siteHeader {
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding-top: 10px;
}

#totalNavBar div {
  padding-top: 10px;
}
