.routerLink {
  width: 33.3%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
#totalNavbar {
  width: 100%;
  height: 15vh;
  /* background-color: #292929; */
  background-color: #0f1438;
  color: #f0ead6;
  border-bottom: 5px solid #f0ead6;
  /* opacity: 0; */
  /* background-color: rgba(109, 109, 109, 0.459); */
  /* background-color: rgb(255, 236, 183); */
}

.siteHeader {
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  outline: none;
  /* padding-top: 10px; */
  color: #f0ead6;
}

#totalNavBar div {
  padding-top: 10px;
}

.currentRoute {
  text-decoration: underline;
  color: #b5b5b5;
}

@media (min-height: 745px) {
  .routerLink {
    padding-top: 10px;
  }
}
