<div
  class="mobileNavBarParent"
  [@menuItemContainer]="{ dickScape: mobileNavOpen }"
>
  <!-- <div class="mobileNavBarParent" [@menuItemContainer]="3"> -->
  <div class="mobileRouterLinkContainer">
    <div
      class="mobileRouterLink"
      routerLink="music"
      (click)="mobileLinkClick()"
    >
      music
    </div>
  </div>
  <div
    class="mobileRouterLinkContainer"
    routerLink="gigs"
    (click)="mobileLinkClick()"
  >
    <div class="mobileRouterLink">
      shows
    </div>
  </div>
  <div
    class="mobileRouterLinkContainer"
    routerLink="contact"
    (click)="mobileLinkClick()"
  >
    <div class="mobileRouterLink">
      contact
    </div>
  </div>
</div>
