<div class="dynamicContainer">
  <ng-template appRainContainer></ng-template>
</div>
<div class="container">
  <div id="contactHeader" *ngIf="formHeaderIn" [@fadeIn]>contact</div>
  <!-- <form
    class="emailForm"
    #emailForm="ngForm"
    *ngIf="formIn"
    [@fadeIn]
    (ngSubmit)="onSubmit(); newEmailForm(); emailForm.reset()"
  >
    <div class="form-group">
      <label for="fromEmail">from: (return email)</label>
      <input
        type="email"
        class="form-control"
        id="fromEmail"
        email
        required
        [(ngModel)]="model.fromEmail"
        name="fromEmail"
      />
    </div>
    <div class="form-group">
      <label for="subject">subject</label>
      <input
        type="text"
        class="form-control"
        id="emailSubject"
        required
        [(ngModel)]="model.subject"
        name="subject"
      />
    </div>
    <div class="form-group">
      <label for="body">body</label>
      <textarea
        type="text"
        class="form-control"
        id="emailBody"
        required
        [(ngModel)]="model.body"
        name="body"
      ></textarea>
    </div>
    <button
      type="submit"
      class="submitButton"
      [disabled]="!emailForm.form.valid"
    >
      submit
    </button>
  </form> -->
  <h1 id="emailAddress" *ngIf="formIn" [@fadeIn]>caseybermanmusic@gmail.com</h1>
</div>
