@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");

* {
  font-family: "Roboto Mono";
  /* background-color: rgb(255, 236, 183); */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.routerOutlet {
  height: 80vh;
}
