@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");

* {
  font-family: "Roboto Mono";
  /* background-color: rgb(255, 236, 183); */
  overflow-y: hidden;
  /* background-color: #292929; */
}
body {
  /* I'm picturing an ng class dependant upon which route we're on? */
  /* background-color: #292929; */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.routerOutlet {
  height: 80vh;
}
