<div id="background" #background>
  <ng-template appRainContainer></ng-template>
  <div class="openingRectangle first" [@firstTrigger]="firstState"></div>
  <div class="openingRectangle second" [@secondTrigger]="secondState"></div>
  <div class="openingRectangle third" [@thirdTrigger]="thirdState"></div>
  <div
    class="openingRectangle fourth"
    [@fourthTrigger]="fourthState"
    (@fourthTrigger.done)="fourthTriggerDone($event)"
  ></div>
  <div class="nameInBody" [@nameState]="nameState">
    <span class="nameLetter">c</span>
    <span class="nameLetter">a</span>
    <span class="nameLetter">s</span>
    <span class="nameLetter">e</span>
    <span class="nameLetter">y</span>
    <span class="nameLetter"> </span>
    <span class="nameLetter">b</span>
    <span class="nameLetter">e</span>
    <span class="nameLetter">r</span>
    <span class="nameLetter">m</span>
    <span class="nameLetter">a</span>
    <span class="nameLetter">n</span>
  </div>
  <div class="homeMenu" *ngIf="menuIn" @homeMenu>
    <div routerLink="/music" class="homeRouterLink">
      <div class="homeMenuPlus">+</div>
      <div class="absoluteLink">music</div>
    </div>

    <div routerLink="/gigs" class="homeRouterLink">
      <div class="homeMenuPlus">+</div>
      <div class="absoluteLink">shows</div>
    </div>
    <div routerLink="/contact" class="homeRouterLink">
      <div class="homeMenuPlus">+</div>
      <div class="absoluteLink">contact</div>
    </div>
  </div>
  <!-- <button (click)="switchState()" style="z-index: 5">oh</button> -->
</div>
