<div id="background" #background>
  <ng-template appRainContainer></ng-template>
  <!-- (@firstTrigger.start)="" -->
  <!-- (@firstTrigger.done)="switchState()" -->
  <!-- (@firstTrigger.done)="manuallyTimedAnimations($event)" -->
  <div class="openingRectangle first" [@firstTrigger]="firstState"></div>
  <!-- (@firstTrigger.start)="titleShift($event)" -->
  <!-- (@firstTrigger.done)="niceTime($event)" -->
  <!-- (@secondTrigger.done)="switchState()" -->
  <div class="openingRectangle second" [@secondTrigger]="secondState"></div>
  <!-- (@thirdTrigger.done)="switchState()" -->
  <div class="openingRectangle third" [@thirdTrigger]="thirdState"></div>
  <div class="openingRectangle fourth" [@fourthTrigger]="fourthState"></div>
  <div class="nameInBody" [@nameState]="nameState">
    <span class="nameLetter">c</span>
    <span class="nameLetter">a</span>
    <span class="nameLetter">s</span>
    <span class="nameLetter">e</span>
    <span class="nameLetter">y</span>
    <span class="nameLetter"> </span>
    <span class="nameLetter">b</span>
    <span class="nameLetter">e</span>
    <span class="nameLetter">r</span>
    <span class="nameLetter">m</span>
    <span class="nameLetter">a</span>
    <span class="nameLetter">n</span>
  </div>
  <!-- <button (click)="switchState()" style="z-index: 5">oh</button> -->
</div>
