#background {
  height: 100vh;
  left: 0;
  /* background-color: #202b42; */
  background-color: #292929;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.openingRectangle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  /* display: none; */
}

.first {
  z-index: 1;
  background-color: rgb(199, 199, 199);
}

.second {
  z-index: 2;
  background-color: rgb(163, 163, 163);
}

.third {
  z-index: 3;
  background-color: rgb(99, 99, 99);
}

.fourth {
  z-index: 4;
  background-color: rgb(65, 65, 65);
}

.nameInBody {
  z-index: 5;
  color: white;
  /* margin: 0 auto; */
  width: 45%;
  height: 80%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: space-around;
}

.homeMenu {
  /* width: 30vw; */
  width: 45%;
  z-index: 6;
  height: 80%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-items:  */
  align-content: space-between;
}

.homeMenuPlus {
  font-size: 79px;
  animation-name: glowingCross;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.46, 0.07, 0, 0.03);
}

.homeRouterLink {
  text-decoration: none;
  outline: none;
}

@keyframes glowingCross {
  from {
    color: black;
  }
  to {
    color: rgb(196, 196, 196);
  }
}

.absoluteLink {
  position: absolute;
  margin-top: -47px;
  margin-left: 34px;
  color: white;
}

/* .svgContainer {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

.second {
  left: 175px;
  top: 450px;
}
.cls-1 {
  stroke: #fff;
  stroke-dasharray: 1352.439268137;
  stroke-dashoffset: 1352.439268137;
  animation: dash 1.75s ease-in-out;
}

.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke-miterlimit: 10;
  pointer-events: none;
}

.cls-2,
.cls-3 {
  stroke: #fff;
}

.cls-2 {
  stroke-dasharray: 50.748687744140625;
  stroke-dashoffset: 50.748687744140625;
}

.cls-3 {
  stroke-dasharray: 55.05485534667969;
  stroke-dashoffset: 55.05485534667969;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.addStroke {
  stroke: #fff;
} */
