<div id="background" #background>
  <ng-template appRainContainer></ng-template>
  <!-- <video src="https://www.youtube.com/watch?v=Oeh0fu6yTN8&t=21s" type="video" -->
  <!-- z-index: -99; -->
  <div style="position: fixed; width: 120%; height: 100%">
    <!-- <iframe
      frameborder="0"
      height="100%"
      width="120%"
      src="https://www.youtube.com/embed/Oeh0fu6yTN8"
    >
    </iframe> -->

    <!-- <div id="player"></div> -->

    <!-- night's nice -->
    <!-- https://www.youtube.com/embed/Oeh0fu6yTN8&t=21s -->
  </div>
  <div class="nameInBody">
    casey berman
  </div>
</div>
