#background {
  /* background-color: #2b622b; */
  /* height: 85vh; */
  height: 100vh;
  left: 0;
  /* position: sticky; */
  /* background-color: #202b42; */
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openingRectangle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  /* display: none; */
}

.first {
  z-index: 1;
  background-color: rgb(199, 199, 199);
}

.second {
  z-index: 2;
  background-color: rgb(163, 163, 163);
}

.third {
  z-index: 3;
  background-color: rgb(99, 99, 99);
}

.fourth {
  z-index: 4;
  background-color: rgb(65, 65, 65);
}

.nameInBody {
  z-index: 5;
  color: white;
  /* margin: 0 auto; */
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: space-around;
}

.nameLetter {
  /* color: white; */
}

/* .svgContainer {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

.second {
  left: 175px;
  top: 450px;
}
.cls-1 {
  stroke: #fff;
  stroke-dasharray: 1352.439268137;
  stroke-dashoffset: 1352.439268137;
  animation: dash 1.75s ease-in-out;
}

.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke-miterlimit: 10;
  pointer-events: none;
}

.cls-2,
.cls-3 {
  stroke: #fff;
}

.cls-2 {
  stroke-dasharray: 50.748687744140625;
  stroke-dashoffset: 50.748687744140625;
}

.cls-3 {
  stroke-dasharray: 55.05485534667969;
  stroke-dashoffset: 55.05485534667969;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.addStroke {
  stroke: #fff;
} */
