#background {
  /* background-color: #2b622b; */
  height: 85vh;
  left: 0;
  /* position: sticky; */
  /* background-color: #202b42; */
  background-color: #292929;
}

/* .svgContainer {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

.second {
  left: 175px;
  top: 450px;
}
.cls-1 {
  stroke: #fff;
  stroke-dasharray: 1352.439268137;
  stroke-dashoffset: 1352.439268137;
  animation: dash 1.75s ease-in-out;
}

.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke-miterlimit: 10;
  pointer-events: none;
}

.cls-2,
.cls-3 {
  stroke: #fff;
}

.cls-2 {
  stroke-dasharray: 50.748687744140625;
  stroke-dashoffset: 50.748687744140625;
}

.cls-3 {
  stroke-dasharray: 55.05485534667969;
  stroke-dashoffset: 55.05485534667969;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.addStroke {
  stroke: #fff;
} */
