<div class="musicContainer">
  <div class="contentsContainer">
    <div class="tracksHeader">tracks</div>
    <div class="songsContainer" [@songRectangleIn]>
      <div
        *ngFor="let song of songs; index as i"
        class="songContainer"
        [ngStyle]="{ backgroundColor: colors[i] }"
        (click)="setAudioSrc(song)"
      >
        <div class="songTitle">{{ song.name }}</div>
      </div>
    </div>
    <!-- <div class="videosHeader">videos</div>
    <div class="videosContainer">
      <div *ngFor="let video of videos">
        <div class="videoRectangle"></div>
      </div>
    </div> -->
  </div>
</div>
