.songsContainer,
.videosContainer {
  /* width: 80%; */
  margin: 0 auto;
  /* border: 1px solid black; */
  /* background-color: rgb(255, 236, 183); */
}

.songsContainer {
  display: flex;
  flex-wrap: wrap;
  /* width: 62%; */
  width: 100%;
  margin-bottom: 80px;
  max-width: 775px;
}

.musicContainer {
  height: 85vh;
  /* background-color: #0f1438; */
  background-color: #0e203b;
  /* background-image: linear-gradient(black, black),
    url("../../assets/ob_korg1.jpg"); */
  /* background-size: cover; */
  /* background-blend-mode: saturation; */
}
.contentsContainer {
  height: 85vh;
  overflow-y: scroll;
  /* padding-top: 20px; */
}

.tracksHeader,
.videosHeader {
  text-align: center;
  padding: 15px 0;
  display: block;
  font-size: 32px;
  color: #f0ead6;
}

.videosHeader {
  padding-bottom: 15px;
}

.songContainer {
  width: 100%;
  /* border-radius: 0 30px 30px 0; */
  text-align: center;
  border-radius: 0 30px 0;
  left: 0;
  height: 110px;
  background-color: rgb(46, 46, 196);
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.songContainer:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.videosContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
}

.videoRectangle {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 15px;
  border-radius: 5px;
  background-color: rgb(78, 78, 78);
}

.songTitle {
  font-size: 25px;
  color: #f0ead6;
}

/* @media (max-width: 775px) {
  .songsContainer {
    width: 100%;
  }
} */
